@model EffectCert.ViewModels.Others.SchemaViewModel

<h3>@ViewBag.Title</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" required id="name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group serial">
                <label asp-for="CertObjects" class="control-label"></label>
                <div class="row justify-content-between">
                    <div class="col-md">
                        <select asp-for="CertObjectIds" class="form-control js-example-basic-multiple">
                        @foreach (var certObject in Model.CertObjects)
                        {
                            <option value="@certObject.Id" selected>@certObject.Name</option>
                        }
                        </select>
                    </div>
                    <div class="col-md-3">
                        <a asp-controller="CertObject" asp-action="Create" target="_blank" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-plus.png" height="24" width="24" /></a>
                    </div>
                </div>
                <span asp-validation-for="CertObjectIds" class="text-danger" id="CertObjectIdsWarning"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_CreateScriptsPartial");}
    @{await Html.RenderPartialAsync("_MainViewScripts");}
    <script>
        $(document).ready(function () {
            let selectElements = [
                { id: '#CertObjectIds', url: '/CertObject/GetCertObjects/', placeholder: 'Выберите объект' }
            ];

            establishSelect2Algorithm(selectElements);
        });
    </script>
}
