@model EffectCert.ViewModels.Main.RecommendationViewModel

<h3>@ViewBag.Title</h3>

<hr />
<div class="row">
    <div class="col-md-5">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" required id="number" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" required id="date" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Application" class="control-label"></label>
                <div class="row justify-content-between">
                    <div class="col-md">
                        <select asp-for="ApplicationId" class="form-control js-example-basic-single" onchange="changeref(this), setVisibilityButtons(this)" required>
                            <option></option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <a asp-controller="Application" asp-action="Create" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-plus.png" height="24" width="24" /></a>
                        <a asp-controller="Application" asp-action="Edit" asp-route-id="" id="ApplicationIdEdit" class="btn-icons-animation" target="_blank" hidden><img src="~/icons/icons8-pencil.png" height="24" width="24" /></a>
                        <a asp-controller="Application" asp-action="Details" asp-route-id="" id="ApplicationIdDetails" class="btn-icons-animation" target="_blank" hidden><img src="~/icons/icons8-info.png" height="24" width="24" /></a>
                        <a asp-controller="Application" asp-action="Delete" asp-route-id="" id="ApplicationIdDelete" class="btn-icons-animation" target="_blank" hidden><img src="~/icons/icons8-trash.png" height="24" width="24" /></a>
                    </div>
                </div>
                <span asp-validation-for="ApplicationId" class="text-danger" id="ApplicationIdWarning"></span>
            </div>
            <div class="form-group">
                <label asp-for="Decision" class="control-label"></label>
                <div class="row justify-content-between">
                    <div class="col-md">
                        <select asp-for="DecisionId" class="form-control js-example-basic-single" onchange="changeref(this), setVisibilityButtons(this)" required>
                            <option></option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <a asp-controller="AppDecision" asp-action="Create" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-plus.png" height="24" width="24" /></a>
                        <a asp-controller="AppDecision" asp-action="Edit" asp-route-id="" id="DecisionIdEdit" class="btn-icons-animation" target="_blank" hidden><img src="~/icons/icons8-pencil.png" height="24" width="24" /></a>
                        <a asp-controller="AppDecision" asp-action="Details" asp-route-id="" id="DecisionIdDetails" class="btn-icons-animation" target="_blank" hidden><img src="~/icons/icons8-info.png" height="24" width="24" /></a>
                        <a asp-controller="AppDecision" asp-action="Delete" asp-route-id="" id="DecisionIdDelete" class="btn-icons-animation" target="_blank" hidden><img src="~/icons/icons8-trash.png" height="24" width="24" /></a>
                    </div>
                </div>
                <span asp-validation-for="DecisionId" class="text-danger" id="DecisionIdWarning"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectProductsAct" class="control-label"></label>
                <div class="row justify-content-between">
                    <div class="col-md">
                        <select asp-for="SelectProductsActId" class="form-control js-example-basic-single" onchange="changeref(this), setVisibilityButtons(this)" required>
                            <option></option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <a asp-controller="SelectProductsAct" asp-action="Create" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-plus.png" height="24" width="24" /></a>
                        <a asp-controller="SelectProductsAct" asp-action="Edit" asp-route-id="" id="SelectProductsActIdEdit" class="btn-icons-animation" target="_blank" hidden><img src="~/icons/icons8-pencil.png" height="24" width="24" /></a>
                        <a asp-controller="SelectProductsAct" asp-action="Details" asp-route-id="" id="SelectProductsActIdDetails" class="btn-icons-animation" target="_blank" hidden><img src="~/icons/icons8-info.png" height="24" width="24" /></a>
                        <a asp-controller="SelectProductsAct" asp-action="Delete" asp-route-id="" id="SelectProductsActIdDelete" class="btn-icons-animation" target="_blank" hidden><img src="~/icons/icons8-trash.png" height="24" width="24" /></a>
                    </div>
                </div>
                <span asp-validation-for="SelectProductsActId" class="text-danger" id="SelectProductsActIdWarning"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpertDecision" class="control-label"></label>
                <div class="row justify-content-between">
                    <div class="col-md">
                        <select asp-for="ExpertDecisionId" class="form-control js-example-basic-single" onchange="changeref(this), setVisibilityButtons(this)">
                            <option></option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <a asp-controller="ExpertDecision" asp-action="Create" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-plus.png" height="24" width="24" /></a>
                        <a asp-controller="ExpertDecision" asp-action="Edit" asp-route-id="" id="ExpertDecisionIdEdit" class="btn-icons-animation" target="_blank" hidden><img src="~/icons/icons8-pencil.png" height="24" width="24" /></a>
                        <a asp-controller="ExpertDecision" asp-action="Details" asp-route-id="" id="ExpertDecisionIdDetails" class="btn-icons-animation" target="_blank" hidden><img src="~/icons/icons8-info.png" height="24" width="24" /></a>
                        <a asp-controller="ExpertDecision" asp-action="Delete" asp-route-id="" id="ExpertDecisionIdDelete" class="btn-icons-animation" target="_blank" hidden><img src="~/icons/icons8-trash.png" height="24" width="24" /></a>
                    </div>
                </div>
                <span asp-validation-for="ExpertDecisionId" class="text-danger" id="ExpertDecisionIdWarning"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_CreateScriptsPartial");}
    @{await Html.RenderPartialAsync("_MainViewScripts");}
    <script>
        $(document).ready(function () {
            let selectElements = [
                { id: '#ApplicationId', url: '/Application/GetApplications/', placeholder: 'Выберите заявку' },
                { id: '#DecisionId', url: '/AppDecision/GetDecisions/', placeholder: 'Выберите решение' },
                { id: '#SelectProductsActId', url: '/SelectProductsAct/GetSelectProductsActs/', placeholder: 'Выберите акт отбора' },
                { id: '#ExpertDecisionId', url: '/ExpertDecision/GetExpertDecisions/', placeholder: 'Выберите заключение эксперта' }
            ];

            establishSelect2Algorithm(selectElements);
        });
    </script>
}
