@model EffectCert.ViewModels.Main.AppDecisionViewModel

<h3>@ViewBag.Title</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" required id="number" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" required id="date" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div> <!-- /* TODO: Continue to add Id (create/edit.cshtml) and model (edit.cshtml) */ -->
            <div class="form-group">
                <label asp-for="Application" class="control-label"></label>
                <div style="overflow-inline:hidden;">
                    <div style="width:78%; display:inline-block;">
                        <select asp-for="Application" class="form-control js-example-basic-single" onchange="changeref(this), setVisibilityButtons(this)" required>
                            <option value="">Выберите заявку</option>
                        </select>
                    </div>
                    <div style="display:inline-block;">
                        <a asp-controller="Application" asp-action="Create" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-plus.png" height="24" width="24" /></a>
                        <a asp-controller="Application" asp-action="Edit" asp-route-id="" id="ApplicationEdit" class="btn-icons-animation" hidden><img src="~/icons/icons8-pencil.png" height="24" width="24" /></a>
                        <a asp-controller="Application" asp-action="Details" asp-route-id="" id="ApplicationDetails" class="btn-icons-animation" hidden><img src="~/icons/icons8-info.png" height="24" width="24" /></a>
                        <a asp-controller="Application" asp-action="Delete" asp-route-id="" id="ApplicationDelete" class="btn-icons-animation" hidden><img src="~/icons/icons8-trash.png" height="24" width="24" /></a>
                    </div>
                </div>
                <span asp-validation-for="Application" class="text-danger" id="ApplicationWarning"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActionPlan" class="control-label"></label>
                <div style="overflow-inline:hidden;">
                    <div style="width:78%; display:inline-block;">
                        <select asp-for="ActionPlan" class="form-control js-example-basic-single" onchange="changeref(this), setVisibilityButtons(this)" required>
                            <option value="">Выберите план действия</option>
                        </select>
                    </div>
                    <div style="display:inline-block;">
                        <a asp-controller="ActionPlan" asp-action="Create" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-plus.png" height="24" width="24" /></a>
                        <a asp-controller="ActionPlan" asp-action="Edit" asp-route-id="" id="ActionPlanEdit" class="btn-icons-animation" hidden><img src="~/icons/icons8-pencil.png" height="24" width="24" /></a>
                        <a asp-controller="ActionPlan" asp-action="Details" asp-route-id="" id="ActionPlanDetails" class="btn-icons-animation" hidden><img src="~/icons/icons8-info.png" height="24" width="24" /></a>
                        <a asp-controller="ActionPlan" asp-action="Delete" asp-route-id="" id="ActionPlanDelete" class="btn-icons-animation" hidden><img src="~/icons/icons8-trash.png" height="24" width="24" /></a>
                    </div>
                </div>
                <span asp-validation-for="ActionPlan" class="text-danger" id="ActionPlanWarning"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductionAnalyzeAssessBody" class="control-label"></label>
                <div style="overflow-inline:hidden;">
                    <div style="width:78%; display:inline-block;">
                        <select asp-for="ProductionAnalyzeAssessBody" class="form-control js-example-basic-single" onchange="changeref(this), setVisibilityButtons(this)">
                            <option value="">Выберите ОПС</option>
                        </select>
                    </div>
                    <div style="display:inline-block;">
                        <a asp-controller="AssessBody" asp-action="Create" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-plus.png" height="24" width="24" /></a>
                        <a asp-controller="AssessBody" asp-action="Edit" asp-route-id="" id="ProductionAnalyzeAssessBodyEdit" class="btn-icons-animation" hidden><img src="~/icons/icons8-pencil.png" height="24" width="24" /></a>
                        <a asp-controller="AssessBody" asp-action="Details" asp-route-id="" id="ProductionAnalyzeAssessBodyDetails" class="btn-icons-animation" hidden><img src="~/icons/icons8-info.png" height="24" width="24" /></a>
                        <a asp-controller="ActionPlan" asp-action="Delete" asp-route-id="" id="ProductionAnalyzeAssessBodyDelete" class="btn-icons-animation" hidden><img src="~/icons/icons8-trash.png" height="24" width="24" /></a>
                    </div>
                </div>
                <span asp-validation-for="ProductionAnalyzeAssessBody" class="text-danger" id="ProductionAnalyzeAssessBodyWarning"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductionAnalyzeLaboratory" class="control-label"></label>
                <div style="overflow-inline:hidden;">
                    <div style="width:78%; display:inline-block;">
                        <select asp-for="ProductionAnalyzeLaboratory" class="form-control js-example-basic-single" onchange="changeref(this), setVisibilityButtons(this)">
                            <option value="">Выберите ОПС</option>
                        </select>
                    </div>
                    <div style="display:inline-block;">
                        <a asp-controller="AssessBody" asp-action="Create" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-plus.png" height="24" width="24" /></a>
                        <a asp-controller="AssessBody" asp-action="Edit" asp-route-id="" id="ProductionAnalyzeLaboratoryEdit" class="btn-icons-animation" hidden><img src="~/icons/icons8-pencil.png" height="24" width="24" /></a>
                        <a asp-controller="AssessBody" asp-action="Details" asp-route-id="" id="ProductionAnalyzeLaboratoryDetails" class="btn-icons-animation" hidden><img src="~/icons/icons8-info.png" height="24" width="24" /></a>
                        <a asp-controller="ActionPlan" asp-action="Delete" asp-route-id="" id="ProductionAnalyzeLaboratoryDelete" class="btn-icons-animation" hidden><img src="~/icons/icons8-trash.png" height="24" width="24" /></a>
                    </div>
                </div>
                <span asp-validation-for="ProductionAnalyzeLaboratory" class="text-danger" id="ProductionAnalyzeLaboratoryWarning"></span>
            </div>
            <div class="form-group">
                <label asp-for="InspectionAssessBody" class="control-label"></label>
                <div style="overflow-inline:hidden;">
                    <div style="width:78%; display:inline-block;">
                        <select asp-for="InspectionAssessBody" class="form-control js-example-basic-single" onchange="changeref(this), setVisibilityButtons(this)">
                            <option value="">Выберите ОПС</option>
                        </select>
                    </div>
                    <div style="display:inline-block;">
                        <a asp-controller="AssessBody" asp-action="Create" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-plus.png" height="24" width="24" /></a>
                        <a asp-controller="AssessBody" asp-action="Edit" asp-route-id="" id="InspectionAssessBodyEdit" class="btn-icons-animation" hidden><img src="~/icons/icons8-pencil.png" height="24" width="24" /></a>
                        <a asp-controller="AssessBody" asp-action="Details" asp-route-id="" id="InspectionAssessBodyDetails" class="btn-icons-animation" hidden><img src="~/icons/icons8-info.png" height="24" width="24" /></a>
                        <a asp-controller="ActionPlan" asp-action="Delete" asp-route-id="" id="InspectionAssessBodyDelete" class="btn-icons-animation" hidden><img src="~/icons/icons8-trash.png" height="24" width="24" /></a>
                    </div>
                </div>
                <span asp-validation-for="InspectionAssessBody" class="text-danger" id="InspectionAssessBodyWarning"></span>
            </div>
            <div class="form-group">
                <label asp-for="InspectionLaboratory" class="control-label"></label>
                <div style="overflow-inline:hidden;">
                    <div style="width:78%; display:inline-block;">
                        <select asp-for="InspectionLaboratory" class="form-control js-example-basic-single" onchange="changeref(this), setVisibilityButtons(this)">
                            <option value="">Выберите ОПС</option>
                        </select>
                    </div>
                    <div style="display:inline-block;">
                        <a asp-controller="AssessBody" asp-action="Create" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-plus.png" height="24" width="24" /></a>
                        <a asp-controller="AssessBody" asp-action="Edit" asp-route-id="" id="InspectionLaboratoryEdit" class="btn-icons-animation" hidden><img src="~/icons/icons8-pencil.png" height="24" width="24" /></a>
                        <a asp-controller="AssessBody" asp-action="Details" asp-route-id="" id="InspectionLaboratoryDetails" class="btn-icons-animation" hidden><img src="~/icons/icons8-info.png" height="24" width="24" /></a>
                        <a asp-controller="ActionPlan" asp-action="Delete" asp-route-id="" id="InspectionLaboratoryDelete" class="btn-icons-animation" hidden><img src="~/icons/icons8-trash.png" height="24" width="24" /></a>
                    </div>
                </div>
                <span asp-validation-for="InspectionLaboratory" class="text-danger" id="InspectionLaboratoryWarning"></span>
            </div>
            <div class="form-group">
                <label asp-for="InspectionPeriod" class="control-label"></label>
                <input asp-for="InspectionPeriod" class="form-control" id="inspectionPeriod" />
                <span asp-validation-for="InspectionPeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SchemaAnother" class="control-label"></label>
                <div style="overflow-inline:hidden;">
                    <div style="width:78%; display:inline-block;">
                        <select asp-for="SchemaAnother" class="form-control js-example-basic-single" onchange="changeref(this), setVisibilityButtons(this)">
                            <option value="">Выберите схему</option>
                        </select>
                    </div>
                    <div style="display:inline-block;">
                        <a asp-controller="Schema" asp-action="Create" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-plus.png" height="24" width="24" /></a>
                        <a asp-controller="Schema" asp-action="Edit" asp-route-id="" id="SchemaAnotherEdit" class="btn-icons-animation" hidden><img src="~/icons/icons8-pencil.png" height="24" width="24" /></a>
                        <a asp-controller="Schema" asp-action="Details" asp-route-id="" id="SchemaAnotherDetails" class="btn-icons-animation" hidden><img src="~/icons/icons8-info.png" height="24" width="24" /></a>
                        <a asp-controller="Schema" asp-action="Delete" asp-route-id="" id="SchemaAnotherDelete" class="btn-icons-animation" hidden><img src="~/icons/icons8-trash.png" height="24" width="24" /></a>
                    </div>
                </div>
                <span asp-validation-for="SchemaAnother" class="text-danger" id="SchemaAnotherWarning"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeclarationNumber" class="control-label"></label>
                <input asp-for="DeclarationNumber" class="form-control" id="declarationNumber" />
                <span asp-validation-for="DeclarationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeclarationDate" class="control-label"></label>
                <input asp-for="DeclarationDate" class="form-control" id="declarationDate" />
                <span asp-validation-for="DeclarationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssessContractNumber" class="control-label"></label>
                <input asp-for="AssessContractNumber" class="form-control" id="assessContractNumber" />
                <span asp-validation-for="AssessContractNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssessContractDate" class="control-label"></label>
                <input asp-for="AssessContractDate" class="form-control" id="assessContractDate" />
                <span asp-validation-for="AssessContractDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_CreateScriptsPartial");}
    @{await Html.RenderPartialAsync("_MainViewScripts");}
    <script>
        $(document).ready(function () {
            let selectElements = [
                { id: '#Application', url: '/Application/GetApplications/', placeholder: 'Выберите заявку' },
                { id: '#ActionPlan', url: '/ActionPlan/GetActionPlanls/', placeholder: 'Выберите план действий' },
                { id: '#ProductionAnalyzeAssessBody', url: '/AssessBody/GetAssessBodies/', placeholder: 'Выберите ОПС' },
                { id: '#ProductionAnalyzeLaboratory', url: '/Laboratory/GetLaboratories/', placeholder: 'Выберите лабораторию' },
                { id: '#InspectionAssessBody', url: '/AssessBody/GetAssessBodies/', placeholder: 'Выберите ОПС' },
                { id: '#InspectionLaboratory', url: '/Laboratory/GetLaboratories/', placeholder: 'Выберите лабораторию' },
                { id: '#SchemaAnother', url: '/Schema/GetSchemas/', placeholder: 'Выберите схему' }
            ];

            establishSelect2Algorithm(selectElements);
        });
    </script>
}
