@model EffectCert.ViewModels.Main.ApplicationViewModel

<h3>@ViewBag.Title</h3>

<hr />
<div class="row">
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-5">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" required id="number" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group col-md-5">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" required id="date" type="date" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group col-md-5">
                <label asp-for="ElectronicNumber" class="control-label"></label>
                <input asp-for="ElectronicNumber" class="form-control" id="electronicNumber" />
                <span asp-validation-for="ElectronicNumber" class="text-danger"></span>
            </div>
            <div class="form-group col-md-5">
                <label asp-for="ElectronicDate" class="control-label"></label>
                <input asp-for="ElectronicDate" class="form-control" id="electronicdate" type="date" />
                <span asp-validation-for="ElectronicDate" class="text-danger"></span>
            </div>
            <div class="form-group col-md-5">
                <label asp-for="AssessBody" class="control-label"></label>
                <div class="row justify-content-between">
                    <div class="col-md">
                        <select asp-for="AssessBodyId" class="form-control js-example-basic-single" onchange="changeref(this), setVisibilityButtons(this)" required>
                            <option></option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <a asp-controller="AssessBody" asp-action="Create" target="_blank" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-plus.png" height="24" width="24" /></a>
                        <a asp-controller="AssessBody" asp-action="Edit" asp-route-id="" id="AssessBodyIdEdit" hidden target="_blank" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-pencil.png" height="24" width="24" /></a>
                        <a asp-controller="AssessBody" asp-action="Details" asp-route-id="" id="AssessBodyIdDetails" hidden target="_blank" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-info.png" height="24" width="24" /></a>
                        <a asp-controller="AssessBody" asp-action="Delete" asp-route-id="" id="AssessBodyIdDelete" hidden target="_blank" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-trash.png" height="24" width="24" /></a>
                    </div>
                </div>
                <span asp-validation-for="AssessBodyId" class="text-danger" id="AssessBodyIdWarning"></span>
            </div>
            <div class="form-group col-md-5">
                <label asp-for="ContractorLegal" class="control-label"></label>
                <div class="row justify-content-between">
                    <div class="col-md">
                        <select asp-for="ContractorLegalId" class="form-control js-example-basic-single" onchange="changeref(this), setVisibilityButtons(this)" required>
                            <option></option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <a asp-controller="ContractorLegal" asp-action="Create" target="_blank" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-plus.png" height="24" width="24" /></a>
                        <a asp-controller="ContractorLegal" asp-action="Edit" asp-route-id="" id="ContractorLegalIdEdit" hidden target="_blank" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-pencil.png" height="24" width="24" /></a>
                        <a asp-controller="ContractorLegal" asp-action="Details" asp-route-id="" id="ContractorLegalIdDetails" hidden target="_blank" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-info.png" height="24" width="24" /></a>
                        <a asp-controller="ContractorLegal" asp-action="Delete" asp-route-id="" id="ContractorLegalIdDelete" hidden target="_blank" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-trash.png" height="24" width="24" /></a>
                    </div>
                </div>
                <span asp-validation-for="ContractorLegalId" class="text-danger" id="ContractorLegalIdWarning"></span>
            </div>
            <div class="form-group col-md-5">
                <label asp-for="Schema" class="control-label"></label>
                <div class="row justify-content-between">
                    <div class="col-md">
                        <select asp-for="SchemaId" class="form-control js-example-basic-single" onchange="changeref(this), setVisibilityButtons(this), hidePartyOrSerial(this)" required>
                            <option></option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <a asp-controller="Schema" asp-action="Create" target="_blank" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-plus.png" height="24" width="24" /></a>
                        <a asp-controller="Schema" asp-action="Edit" asp-route-id="" id="SchemaIdEdit" hidden target="_blank" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-pencil.png" height="24" width="24" /></a>
                        <a asp-controller="Schema" asp-action="Details" asp-route-id="" id="SchemaIdDetails" hidden target="_blank" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-info.png" height="24" width="24" /></a>
                        <a asp-controller="Schema" asp-action="Delete" asp-route-id="" id="SchemaIdDelete" hidden target="_blank" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-trash.png" height="24" width="24" /></a>
                    </div>
                </div>
                <span asp-validation-for="SchemaId" class="text-danger" id="SchemaIdWarning"></span>
            </div>
            <div class="form-group serial col-md-5">
                <label asp-for="Products" class="control-label"></label>
                <div class="row justify-content-between">
                    <div class="col-md">
                        <select asp-for="ProductsIds" class="form-control js-example-basic-multiple" required>
                            <option></option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <a asp-controller="Product" asp-action="Create" target="_blank" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-plus.png" height="24" width="24" /></a>
                    </div>
                </div>
                <span asp-validation-for="ProductsIds" class="text-danger" id="ProductsIdsWarning"></span>
            </div>
            <div class="form-group party col-md-5">
                <label asp-for="ProductQuantities" class="control-label"></label>
                <div class="row justify-content-between">
                    <div class="col-md">
                        <select asp-for="ProductQuantitiesIds" class="form-control js-example-basic-multiple" required>
                            <option></option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <a asp-controller="ProductQuantity" asp-action="Create" target="_blank" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-plus.png" height="24" width="24" /></a>
                    </div>
                </div>
                <span asp-validation-for="ProductQuantitiesIds" class="text-danger" id="ProductQuantitiesIdsWarning"></span>
            </div>
            <br>
            <div class="form-group row col-md-12" id="tableTemplate">
                <div class="row align-content-md-start">
                    <div class="col-md col-md-2">
                        <label asp-for="TechRegParagraphs" class="control-label"></label>
                    </div>
                    <div class="col-md-3">
                        <div class="btn-sm btn-success col-md-3" onclick="addTechReg()" onmouseover="" style="cursor: pointer;">Добавить</div>
                    </div>
                </div>
                <div class="row align-content-between" id="rowTemplate">
                    <div class="row align-content-between">
                        <div class="col-md-6">
                            <label asp-for="TechRegParagraphs[0].TechReg" class="control-label"></label>
                            <div class="row">
                                <div class="col-md">
                                    <select id="TechRegParagraphs0TechRegId" asp-for="TechRegParagraphs[0].TechRegId" class="form-control js-example-basic-single" onchange="changeref(this), setVisibilityButtons(this), setVisibility_paragraphs(this)" required>
                                        <option></option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <a asp-controller="TechReg" asp-action="Create" target="_blank" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-plus.png" height="24" width="24" /></a>
                                    <a asp-controller="TechReg" asp-action="Edit" asp-route-id="" id="TechRegParagraphs0TechRegIdEdit" hidden target="_blank" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-pencil.png" height="24" width="24" /></a>
                                    <a asp-controller="TechReg" asp-action="Details" asp-route-id="" id="TechRegParagraphs0TechRegIdDetails" hidden target="_blank" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-info.png" height="24" width="24" /></a>
                                    <a asp-controller="TechReg" asp-action="Delete" asp-route-id="" id="TechRegParagraphs0TechRegIdDelete" hidden target="_blank" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-trash.png" height="24" width="24" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md" id="TechRegParagraphs0TechRegIdParagraphs" hidden>
                            <label asp-for="TechRegParagraphs[0].Paragraphs" class="control-label"></label>
                            <input id="TechRegParagraphs0Paragraphs" asp-for="TechRegParagraphs[0].Paragraphs" class="form-control" />
                            <span asp-validation-for="TechRegParagraphs[0].Paragraphs" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group col-md-5">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_CreateScriptsPartial");}
    @{await Html.RenderPartialAsync("_MainViewScripts");}
    <script>
        $(document).ready(function () {
            let selectElements = [
                { id: '#AssessBodyId', url: '/AssessBody/GetAssessBodies/', placeholder: 'Выберите ОПС' },
                { id: '#ContractorLegalId', url: '/ContractorLegal/GetContractorLegals/', placeholder: 'Выберите юр.лицо' },
                { id: '#SchemaId', url: '/Schema/GetSchemas/', placeholder: 'Выберите схему' },
                { id: '#ProductsIds', url: '/Product/GetProducts/', placeholder: 'Выберите продукцию' },
                { id: '#ProductQuantitiesIds', url: '/ProductQuantity/GetProductQuantities/', placeholder: 'Выберите партию продукции' },
                { id: '#TechRegParagraphs0TechRegId', url: '/TechReg/GetTechRegs/', placeholder: 'Выберите тех. регламент' }
            ];

            establishSelect2Algorithm(selectElements);
            InitializeBtnAnimation();
        });

        function hidePartyOrSerial(element) {
            $.ajax({
                url: '/Schema/GetSchemaInfo/',
                method: 'get',
                dataType: 'json',
                data: { id: element.selectedOptions[0].value },
                success: function (data) {
                    let isSchemaForSerial = data.info.includes("Серийное");

                    if (isSchemaForSerial) {

                        $('#ProductQuantitiesIds option:selected').each(function () {
                            this.selected = false;
                        }).trigger('change');
                    }
                    else {
                        $('#ProductsIds option:selected').each(function () {
                            this.selected = false;
                        }).trigger('change');
                    }

                    document.querySelector('.party').hidden = isSchemaForSerial;
                    document.querySelector('.serial').hidden = !isSchemaForSerial;
                }
            });
        };

        function setVisibility_paragraphs(element) {
            document.getElementById(element.id + 'Paragraphs').hidden = element.value == '';
        };

        var techRegIdCounter = 0;

        function addTechReg() {
            ++techRegIdCounter;
            
            let node = document.getElementById('rowTemplate');
            $('#TechRegParagraphs0TechRegId').select2('destroy');
            let clonedNode = node.cloneNode(true);
            prepareNode(clonedNode);

            let table = document.getElementById('tableTemplate');
            table.append(clonedNode);

            reInitializationSelect2();
            InitializeBtnAnimation();
        };

        function prepareNode(node) {
            node.id += techRegIdCounter;
            changeNodeNames(node);
            setAttributesHiddenTrue(node);
            clearInputValue(node);
            changeNodeIds(node);
            addDeleteButton(node);
        };

        function changeNodeNames(node) {
            let idsForChange = ['#TechRegParagraphs0TechRegId',
                                '#TechRegParagraphs0Paragraphs' ];

            let tempElement;
            for (let i = 0; i < idsForChange.length; i++) {
                tempElement = node.querySelector(idsForChange[i]);
                tempElement.name = tempElement.name.replace(0, techRegIdCounter);
            }
        };

        function setAttributesHiddenTrue(node) {
            let idsForChange = [ '#TechRegParagraphs0TechRegIdEdit',
                                 '#TechRegParagraphs0TechRegIdDetails',
                                 '#TechRegParagraphs0TechRegIdDelete',
                                 '#TechRegParagraphs0TechRegIdParagraphs' ];

            let tempElement;
            for (let i = 0; i < idsForChange.length; i++) {
                tempElement = node.querySelector(idsForChange[i]).hidden = true;
            }
        };

        function clearInputValue(node) {
            node.querySelector('#TechRegParagraphs0Paragraphs').value = '';
        };

        function changeNodeIds(node) {
            let idsForChange = [ '#TechRegParagraphs0TechRegId',
                                 '#TechRegParagraphs0TechRegIdEdit',
                                 '#TechRegParagraphs0TechRegIdDetails',
                                 '#TechRegParagraphs0TechRegIdDelete',
                                 '#TechRegParagraphs0TechRegIdParagraphs',
                                 '#TechRegParagraphs0Paragraphs' ];

            let tempElement;
            for (let i = 0; i < idsForChange.length; i++) {
                tempElement = node.querySelector(idsForChange[i]);
                tempElement.id = tempElement.id.replace(0, techRegIdCounter);
            }
        };

        function addDeleteButton(node) {
            let child = document.createElement('div');
            child.setAttribute('class', 'btn btn-close btn-danger col-md-1');
            child.setAttribute('onmouseover', '');
            child.setAttribute('style', 'cursor: pointer;');
            child.setAttribute('onclick', 'deleteRow(this)');
            node.children[0].children[0].prepend(child);
        };

        function deleteRow(element) {
            document.querySelector('#tableTemplate').removeChild(element.parentElement.parentElement.parentElement);
            renameIds();
            reInitializationSelect2();
        };

        function renameIds() {
            let nodes = document.querySelectorAll("div[id^='rowTemplate']");
            for (let i = 1; i < nodes.length; i++) {
                let oldNumber = nodes[i].id.replace(nodes[0].id, '');
                nodes[i].id = nodes[i].id.replace(oldNumber, i);

                let ids = nodes[i].querySelectorAll("[id^='TechRegParagraphs']");
                for (let j = 0; j < ids.length; j++) {
                    ids[j].id = ids[j].id.replace(oldNumber, i);
                }

                let names = nodes[i].querySelectorAll("[name^='TechRegParagraphs']");
                for (let j = 0; j < names.length; j++) {
                    names[j].name = names[j].name.replace(oldNumber, i);
                }

                //let ariaLabelledbyArray = nodes[i].querySelectorAll("[aria-labelledby^='select2-TechRegParagraphs']");
                //for (let j = 0; j < names.length; j++) {
                //    ariaLabelledbyArray[j].[aria-labelledby] = ariaLabelledbyArray[j].[aria-labelledby].replace(oldNumber, i);
                //}
            }
            techRegIdCounter = nodes.length - 1;
        };

        function reInitializationSelect2() {
            let selectElements = [];

            selectElements.push({ id: '#TechRegParagraphs' + 0 + 'TechRegId',
                                  url: '/TechReg/GetTechRegs/',
                                  placeholder: 'Выберите тех. регламент' });
            selectElements.push({ id: '#TechRegParagraphs' + techRegIdCounter + 'TechRegId',
                                  url: '/TechReg/GetTechRegs/',
                                  placeholder: 'Выберите тех. регламент' });

            establishSelect2Algorithm(selectElements);
        };
    </script>
}