@model EffectCert.ViewModels.Contractors.LaboratoryViewModel

<h3>@ViewBag.Title</h3>

<hr />
<div class="row">
    <div class="col-md-5">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" required id="name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortName" class="control-label"></label>
                <input asp-for="ShortName" class="form-control" required id="shortname" />
                <span asp-validation-for="ShortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractorLegal" class="control-label"></label>
                <div style="overflow-inline:hidden;">
                    <div style="width:78%; display:inline-block;">
                        <select asp-for="ContractorLegal" class="form-control js-example-basic-single" onchange="changeref(this), setVisibilityButtons(this)" required>
                            <option value="">Выберите юр.лицо</option>
                        </select>
                    </div>
                    <div style="display:inline-block;">
                        <a asp-controller="ContractorLegal" asp-action="Create" onmouseover="StartAnimation(this)" onmouseout="StopAnimation(this)" target="_blank"><img src="~/icons/icons8-plus.png" height="24" width="24" /></a>
                        <a asp-controller="ContractorLegal" asp-action="Edit" asp-route-id="" id="ContractorLegalEdit" onmouseover="StartAnimation(this)" onmouseout="StopAnimation(this)" hidden><img src="~/icons/icons8-pencil.png" height="24" width="24" /></a>
                        <a asp-controller="ContractorLegal" asp-action="Details" asp-route-id="" id="ContractorLegalDetails" onmouseover="StartAnimation(this)" onmouseout="StopAnimation(this)" hidden><img src="~/icons/icons8-info.png" height="24" width="24" /></a>
                        <a asp-controller="ContractorLegal" asp-action="Delete" asp-route-id="" id="ContractorLegalDelete" onmouseover="StartAnimation(this)" onmouseout="StopAnimation(this)" hidden><img src="~/icons/icons8-trash.png" height="24" width="24" /></a>
                    </div>
                </div>
                <span asp-validation-for="ContractorLegal" class="text-danger" id="ContractorLegalWarning"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attestate" class="control-label"></label>
                <div style="overflow-inline:hidden;">
                    <div style="width:78%; display:inline-block;">
                        <select asp-for="Attestate" class="form-control js-example-basic-single" onchange="changeref(this), setVisibilityButtons(this)">
                            <option value="">Выберите аттестат</option>
                        </select>
                    </div>
                    <div style="display:inline-block;">
                        <a asp-controller="Attestate" asp-action="Create" onmouseover="StartAnimation(this)" onmouseout="StopAnimation(this)" target="_blank"><img src="~/icons/icons8-plus.png" height="24" width="24" /></a>
                        <a asp-controller="Attestate" asp-action="Edit" asp-route-id="" id="AttestateEdit" onmouseover="StartAnimation(this)" onmouseout="StopAnimation(this)" hidden><img src="~/icons/icons8-pencil.png" height="24" width="24" /></a>
                        <a asp-controller="Attestate" asp-action="Details" asp-route-id="" id="AttestateDetails" onmouseover="StartAnimation(this)" onmouseout="StopAnimation(this)" hidden><img src="~/icons/icons8-info.png" height="24" width="24" /></a>
                        <a asp-controller="Attestate" asp-action="Delete" asp-route-id="" id="AttestateDelete" onmouseover="StartAnimation(this)" onmouseout="StopAnimation(this)" hidden><img src="~/icons/icons8-trash.png" height="24" width="24" /></a>
                    </div>
                </div>
                <span asp-validation-for="Attestate" class="text-danger" id="AttestateWarning"></span>
            </div>
            <div class="form-group">
                <label asp-for="LaboratoryEmployees" class="control-label"></label>
                <div style="overflow-inline:hidden;">
                    <div style="width:78%; display:inline-block;">
                        <select asp-for="LaboratoryEmployees" class="form-control js-example-basic-multiple" required>
                            <option value="">Выберите сотрудников</option>
                        </select>
                    </div>
                    <div style="display:inline-block;">
                        <a asp-controller="LaboratoryEmployee" asp-action="Create" onmouseover="StartAnimation(this)" onmouseout="StopAnimation(this)" target="_blank"><img src="~/icons/icons8-plus.png" height="24" width="24" /></a>
                    </div>
                </div>
                <span asp-validation-for="LaboratoryEmployees" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_CreateScriptsPartial");}
    @{await Html.RenderPartialAsync("_MainViewScripts");}
    <script>
        $(document).ready(function () {
            let selectElements = [
                { id: '#ContractorLegal', url: '/ContractorLegal/GetContractorLegals/', placeholder: 'Выберите юр.лицо' },
                { id: '#Attestate', url: '/Attestate/GetAttestates/', placeholder: 'Выберите аттестат' },
                { id: '#LaboratoryEmployees', url: '/LaboratoryEmployee/GetLaboratoryEmployees/', placeholder: 'Выберите сотрудников' }
            ];

            establishSelect2Algorithm(selectElements);
        });
    </script>
}
